//header
.header {
  background: #000000;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 1;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__link {
    color: #fff;
  }

  &__logo {
    &:not(:last-child) {
      margin-right: 58px;
    }
  }
}

//logo
.logo {
  &__link {
    border: 1.18841px solid #ffffff;
    width: 82px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }

  &__text {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 120%;
    color: #fff;
    text-align: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 9.5px;
      top: 20px;
      background-image: url('../../assets/icons/logo.svg');
      background-repeat: no-repeat;
      height: 20px;
      width: 13px;
    }
  }
}

//nav
.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 61px;
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    color: #fff;

    &-active {
      color: #f9804b;
    }
  }
}

//hero block
.hero {
  position: relative;
  top: -80px;

  &__bg {
    object-fit: cover;
    object-position: top;
    width: 100%;
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 10.6rem;
    line-height: 75%;
    text-transform: uppercase;
    max-width: 500px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 60px;

    span {
      color: #ffee2e;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -74px;
      left: -74px;
      width: 465px;
      height: 465px;
      border-radius: 50%;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    }
  }

  &__container {
    position: absolute;
    right: 15%;
    top: 22%;
    text-align: center;
  }

  &__btn {
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 25px;
    padding: 10px 45px;
  }
}

//backstage

.backstage {
  position: relative;
  margin-bottom: 150px;

  &::after {
    content: '';
    background-image: url('../../assets/images/flower_decor.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 605px;
    overflow-x: hidden;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    min-width: 610px;
    margin-right: 87px;
  }

  &__text {
    color: #333b41;

    &-title {
      font-weight: 400;
      font-size: 4.8rem;
      line-height: 120%;
      margin-bottom: 20px;
    }

    &-descr {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 130%;
      margin-bottom: 54px;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 120%;
      margin-bottom: 34px;
    }
  }
}

//pets

.pets {
  &__container {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      background-image: url('../../assets/images/palm_decor.png');
      background-repeat: no-repeat;
      width: 280px;
      height: 450px;
      position: absolute;
      bottom: 0;
      left: 15px;
    }

    &::after {
      content: '';
      background-image: url('../../assets/images/strelitzia_decor.png');
      background-repeat: no-repeat;
      width: 368px;
      height: 275px;
      position: absolute;
      bottom: 0;
      right: 15px;
    }
  }

  &__slider {
    position: relative;

    &-btn {
      position: absolute;
      top: calc(50% - 40px);
      transform: translateX(-50%);
      width: 62px;
      height: 62px;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &-prev {
        left: -50px;
      }

      &-next {
        right: -110px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  &__item {
    width: 366px;
    border-radius: 5px;
    border: 1px solid #f9804b;
    overflow: hidden;
    margin-bottom: 20px;

    &-img {
      width: 100%;
      object-fit: cover;
    }

    &-title {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 140%;
      text-transform: uppercase;
      color: #000000;
    }

    &-country {
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 120%;
      color: #000000;
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
    }
  }

  &__btn {
    background: #fe9013;
    border-radius: 25px;
    width: 298px;
    height: 54px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 100px;
  }
}

//feed block

.feed {
  padding: 69px 0 100px 0;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;

  &__container {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 0 69px 0;
  }

  &__title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
    text-align: center;
    color: #fe9013;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    color: #333b41;
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333b41;
    margin-bottom: 60px;
  }

  &__text-bold {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    color: #333b41;
    margin-bottom: 10px;
  }

  &__btn {
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 25px;
    width: 298px;
    height: 54px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__how {
    h5 {
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      color: #333b41;
      text-align: center;
      margin-bottom: 40px;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
    }

    &-block {
      width: 168px;
      height: 168px;
      background: #ffffff;
      border-radius: 5px;
      border: 1px solid #f9804b;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-item {
      position: relative;

      p {
        font-weight: 400;
        line-height: 140%;
        color: #333b41;
        margin-top: 20px;
        max-width: 168px;
      }

      &:first-child,
      &:nth-child(2) {
        margin-right: 130px;

        &::before {
          content: '';
          background-image: url('../../assets/icons/arrow_decor.svg');
          background-repeat: no-repeat;
          width: 69px;
          height: 39px;
          position: absolute;
          right: -100px;
          top: calc(50% - 20px);
          transform: translateY(-50%);
        }
      }
    }
  }
}

//testimonials

.testimonials {
  padding: 140px 0;

  &__container {
    position: relative;
    padding-bottom: 200px;

    &::after {
      content: '';
      background-image: url('../../assets//images/leav_decor.png');
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 300px;
      height: 300px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333b41;
    margin-bottom: 47px;
  }

  &__list {
    display: flex;
    margin-bottom: 10px;
  }

  &__item {
    background: #f1f3f2;
    border-radius: 20px;
    width: 268px;
    padding: 19px;
    height: 391px;

    display: inline-block;
    position: relative;
    z-index: 0;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      padding: 2px;
      border-radius: 20px;

      background: linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    color: #767474;
    overflow: scroll;
    height: 308px;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 11px;

    img {
      border-radius: 50%;
      width: 37px;
      height: 37px;
      margin-right: 10px;
    }

    &-name {
      font-weight: 400;
      line-height: 120%;
      color: #000000;
    }

    span {
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 120%;
      color: #bdbdbd;
    }

    &-city {
      position: relative;
      margin-right: 16px;

      &::after {
        content: '';
        width: 2px;
        height: 2px;
        background-color: #bdbdbd;
        position: absolute;
        right: -10px;
        top: 8px;
      }
    }
  }

  &__progress {
    margin-bottom: 60px;
    width: 600px;

    display: inline-block;
    position: relative;
    z-index: 0;

    left: 50%;
    transform: translate(-50%, 0);

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      padding: 1px;
      border-radius: 20px;
      height: 8px;

      background: linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &-line {
      background: #fe9013;
      border-radius: 5px;
      width: 15%;

      height: 6px;
      position: relative;
      top: 1px;
      left: 1px;
    }
  }

  &__btn {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 10px;
  }
}
