@import "settings/vars";
@import "settings/breakpoints";
@import "components/header";
@import "components/audio";
@import "components/answers";
@import "components/description";
@import "components/footer";
@import "components/result";
@import "components/gallery";


html {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-family;
	font-size: 1.6rem;
	background-color: #f4f4f4;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.container {
	max-width: 1400px;
	margin: 20px auto 0 auto;
	background-color: #fff;
	border-radius: 20px;
	width: calc(100vw - 100px);
}

.app {
	background-color: #ececec;
	padding: 15px 30px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	margin-top: 10px;
	position: relative;
}

.btn-reset {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

.input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: #fff;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.next-question {
	width: 100%;
	background-color: $main-accent;
	border-radius: 10px;
	padding: 20px 30px;
	color: #fff;
	font-size: 1.7rem;
	font-weight: 500;
	transition: all 200ms ease-in-out;

	&:hover {
		background-color: lighten($main-accent, 5);
	}
}

.next-question[disabled] {
	background-color: #646464;
	cursor: default;
}

@media (max-width: 1220px) {
	.track__duration {
		width: 400px;
	}

	.nav__list {
		flex-wrap: wrap;
	}

	.audio__cover {
		margin-right: 20px;
	}

	.description {
		width: 58%;
	}
}

@media (max-width: 1000px) {
	.track__duration {
		width: 250px;
	}

	.audio__title {
		margin-bottom: 30px;
	}

	.description {
		.track__play {
			margin-right: 10px;
		}

		.track__volume {
			margin-left: 10px;
		}

		.audio__cover {
			width: 170px;
		}
	}

}

@media (max-width: 855px) {

	.description {
		.track__inner {
			justify-content: flex-start;
		}
	}

	.description__inner {
		margin-bottom: 0;
	}

	.container {
		width: 100%;
	}
	.logo__img {
		width: 40px;
	}

	.logo__title {
		font-size: 2rem;
	}

	.score {
		padding: 10px 20px;
	}

	.flex {
		flex-direction: column;
		align-items: center;
	}

	.answers {
		margin-bottom: 20px;
	}

	.answers, .description {
		width: 100%;
	}

	.audio {
		flex-direction: column;
		align-items: center;
	}

	.audio__cover {
		margin-bottom: 10px;
	}

	.audio__title {
		margin-bottom: 20px;
	}

	.track__title {
		margin-bottom: 15px;
	}

	.track__inner {
		justify-content: center;
	}
}

@media (max-width: 660px) {

	.first-page__btn {
		bottom: 11% !important;
		padding: 9px 100px !important;
	}

	.score {
		font-size: 1.4rem;
		padding: 8px 13px;
		height: 40px;
	}

	.header__lang {
		width: 42px;
		height: 42px;
	}

	.logo__title {
		font-size: 1.5rem;
	}

	.logo__subtitle {
		font-size: 1.4rem;
	}

	.logo__img {
		width: 30px;
		margin-right: 10px;
	}

	.nav__item {
		font-size: 1.6rem;
		padding: 8px 21px;
	}

	.nav__item:not(:last-child) {
		margin-right: 8px;
	}

	.audio__cover img {
		height: 150px;
	}

	.audio__cover {
		width: 250px;
	}

	.audio__title {
		font-size: 2rem;
	}

	.track__title {
		font-size: 1.6rem;
	}

	.answers__title {
		font-size: 1.7rem;
	}

	.answers__item span {
		font-size: 1.6rem;
	}

	.description .audio__cover img {
		height: 110px;
	}
}

@media (max-width: 550px) {
	.modal {
		left: 50px !important;
	}

	.result-btn {
		width: 100% !important;
	}

	.header__top {
		flex-direction: column;
		margin-bottom: 10px;
	}

	.header__logo {
		align-self: flex-start;
		margin-bottom: 20px;
	}

	.description .description__inner {
		flex-direction: column;
		align-items: center;
	}

	.description .audio__track {
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}

	.nav__list {
		justify-content: center;
	}

	.header {
		padding: 10px;
	}

	.app {
		padding: 15px 10px;
	}
}

@media (max-width: 430px) {
	.track__duration {
		width: 200px;
	}
}

@media (max-width: 360px) {
	.track__duration {
		width: 160px;
	}

	.nav__item {
		width: 100%;
		text-align: center;
	}
}

.first-page {
	padding: 0;

	.app {
		padding: 0;
	}

	video {
		width: 100%;
		object-fit: cover;
		height: 600px;
		filter: brightness(0.2);
		border-radius: 30px;
		position: relative;
	}

	&__header-btn {
		img {
			width: 40px;
			height: 40px;
		}
	}

	&__btn {
		position: absolute;
		bottom: 20%;
		left: 50%;
		transform: translateX(-50%);
		background-color: $main-accent;
		border-radius: 100px;
		padding: 20px 100px;
		color: #fff;
		transition: all 200ms ease-in-out;
		font-size: 1.8rem;

		&:hover {
			background-color: lighten($main-accent, 5);
		}
	}
}

.progress {
	width: 100%;
	height: 10px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	margin-bottom: 8px;

	&-volume {
		width: 150px;
	}

	&__point {
		width: 15px;
		height: 15px;
		border-radius: 30px;
		position: absolute;
		right: -5px;
		top: -3px;
		background-color: $main-accent;
		cursor: pointer;
		transition: all 20ms ease-in-out;

		&:hover {
			background-color: lighten($main-accent, 5);
		}
	}

	&__line {
		background-color: $main-accent;
		height: 9px;
		position: absolute;
		top: 0.5px;
		left: 0.5px;
		border-radius: 10px;
		transition: 200ms linear;

		&-volume {
			width: 50%;
		}
	}
}