.header {
	padding: 20px 30px 0 30px;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}

	&__ui {
		display: flex;
		flex-direction: row-reverse;
	}

	&__lang {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #e8e8e8 !important;
		border-radius: 15px;
		width: 50px;
		height: 50px;
		font-weight: 700;
		margin-right: 15px;
		transition: all 200ms ease-in-out;
		position: relative;

		img {
			width: 25px;
		}

		&:hover {
			background-color: #d7d7d7 !important;
		}
	}

	.modal {
		position: absolute;
		bottom: 0;
		left: -110px;
		background-color: #f3f3f3;
		border-radius: 5px;
		display: none;

		&__item {
			padding: 5px 40px;
			transition: all 200ms ease-in-out;

			&:hover {
				background-color: #2088e4;
				border-radius: 5px;
				color: #fff;
			}
		}
	}
}

.header__lang.open-modal {
	.modal {
		display: block;
		z-index: 1;
	}
}

.logo {
	display: flex;
	align-items: center;

	&__img {
		margin-right: 15px;
	}

	&__title {
		color: #181818;
		font-size: 2.4rem;
		font-weight: 800;
		letter-spacing: 1%;
		text-transform: uppercase;
		font-family: -apple-system, sans-serif;
	}

	&__subtitle {
		color: #646464;
		display: block;
	}
}

.score {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $main-accent;
	border-radius: 15px;
	padding: 15px 30px;
	font-weight: 700;
	color: #fff;

	&__number {
		margin-left: 10px;
	}
}

.nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		background-color: #f3f3f3;
		border-radius: 30px;
		padding: 10px 30px;
		transition: all 200ms ease-in-out;
		font-weight: 500;
		font-size: 1.6rem;
		white-space: nowrap;
		color: #1a1a1a;
		margin-bottom: 5px;

		&:hover {
			background-color: darken(#f3f3f3, 3);
		}

		&_active {
			background-color: $main-accent;
			cursor: default;
			color: #fff;
			pointer-events: none;

			&:hover {
				background-color: $main-accent;
			}
		}
	}

	&__item:not(:last-child) {
		margin-right: 15px;
	}
}