.footer {
  height: 443px;
  background: #111115;

  &__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__inner {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  &__subscribe {
    position: relative;
    top: 17px;
    left: -3px;

    span {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 120%;
      color: #ffffff;
      display: inline-block;
      margin-bottom: 14px;
    }

    input {
      padding: 8px;
      width: 230px;
      font-weight: 400;
      line-height: 140%;
      color: #bdbdbd;
      background-color: transparent;
      border: none;
      border-radius: 2px;
      border: 1px solid #f9804b;
      margin-right: 2px;
      outline: none;
      transition: 200ms ease-in-out;

      &::placeholder {
        line-height: 140%;
        color: #bdbdbd;
      }

      &:active,
      &:focus {
        border: 1px solid #4b9200;
      }

      &:invalid {
        color: #d31414;
        border-color: #d31414;
      }
    }

    button {
      background: #f1f3f2;
      border-radius: 5px;
      width: 127px;
      height: 42px;
      text-transform: none;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 140%;
      transition: 200ms ease-in-out;
      color: #d31414;
      border: 1px solid #d31414;

      &:hover {
        opacity: 0.8;
        background: #f1f3f2;
      }
    }
  }

  &__btn {
    width: 298px;
    height: 54px;
    background: #f9804b;
    border-radius: 5px;
    margin-bottom: 47px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav {
    position: relative;
    left: 88px;
    top: -13px;

    a {
      font-weight: 400;
    }
  }

  &__copyright {
    transition: 200ms ease-in-out;

    &:active {
      span {
        color: #4b9200;
      }
    }

    span {
      font-weight: 100;
      line-height: 278%;
      color: #ffffff;
      display: block;

      &:first-child {
        margin-bottom: -13px;
      }
    }
  }
}

.social {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 10px;
    transition: 200ms ease-in-out;

    a {
      display: flex;
      align-items: center;
    }

    span {
      font-weight: 400;
      line-height: 140%;
      color: #ffffff;
      transition: 200ms ease-in-out;
    }

    &:hover {
      span {
        color: #4b9200;
      }

      .social__icon {
        background: #4b9200;
      }
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    transition: 200ms ease-in-out;
  }
}

.footer__subscribe input:valid + button {
  border: 1px solid #4b9200;
  color: #4b9200;
}

@media (max-width: 1499px) {
  .footer__container {
    padding: 0 43px;
  }

  .social__item {
    margin-bottom: 9.4px;
  }

  .footer__nav {
    left: 81px;
    top: -11px;
  }

  .footer__subscribe {
    top: 15px;
    left: -10px;
  }

  .footer__copyright {
    position: relative;
    right: -25px;
    top: 2px;
  }
}

@media (max-width: 999px) {
  .footer {
    position: relative;
    height: 282px;

    &__container {
      padding: 0 20px;
    }

    &__inner {
      padding-top: 12px;
      margin-bottom: 33px;
    }

    &__subscribe {
      display: none;
    }

    &__social {
      position: absolute;
      right: 5px;
      top: 12px;

      span {
        display: none;
      }
    }

    .social__item {
      margin-bottom: 20px;
    }

    &__nav {
      left: 0px;
      top: -4px;
    }

    .nav__item {
      margin-right: 38px;
    }

    &__copyright {
      position: relative;
      right: 0px;
      top: 8px;
    }
  }
}

@media (max-width: 639px) {
  .footer .logo__link {
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .footer .logo__text::before {
    left: 71.5px;
    top: -3px;
  }

  .footer__logo {
    width: 100%;
  }

  .footer__social {
    right: 50%;
    top: 72px;
    transform: translateX(50%);
    flex-direction: row;
  }
  .social__item {
    width: 42px;
  }

  .footer__btn {
    width: 100%;
  }

  .footer__container {
    padding: 0 10px;
  }

  .footer__wrapper {
    height: 76px;
  }

  .footer__copyright {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    top: 60%;
    right: 6px;
  }

  .footer .nav__item {
    margin-right: 30px;
  }

  .footer__inner {
    padding-top: 19px;
    margin-bottom: 58px;
  }

  .footer {
    height: 331px;
  }

  .footer__nav {
    left: 37px;
    top: 8px;
  }

  .nav__link {
    white-space: nowrap;
  }

  .footer {
    overflow: hidden;
  }

  .social__item:first-child {
    position: relative;
    left: -12px;
  }
  .social__item:last-child {
    position: relative;
    left: 29px;
  }

  .social__item:nth-child(3) {
    position: relative;
    left: 15px;
  }
}
