.header {
  background: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: relative;
  z-index: 1;
}
.header__overlay {
  transform: scale(0);
  position: absolute;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__link {
  color: #fff;
  font-weight: 500;
  line-height: 140%;
}
.header__logo:not(:last-child) {
  margin-right: 62px;
}

.logo__link {
  border: 1.18841px solid #ffffff;
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
.logo__text {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 120%;
  color: #fff;
  text-align: center;
  position: relative;
}
.logo__text::before {
  content: "";
  position: absolute;
  left: 9.5px;
  top: 20px;
  background-image: url("../../assets/icons/logo.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 13px;
}

.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 59px;
}
.nav__link {
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  transition: 200ms ease-in-out;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link:active {
  color: #f9804b;
}
.nav__link-active {
  color: #f9804b;
  pointer-events: none;
}
.nav__link-active:hover {
  opacity: 1;
}

.burger {
  display: none;
}

@media (max-width: 1499px) {
  .header {
    z-index: 10;
  }
  .nav__item {
    margin-right: 48px;
  }
}
@media (max-width: 999px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 18px;
    height: 10px;
    border: none;
    background-color: transparent;
    position: relative;
    right: -10px;
    top: -2px;
  }
  .burger__line {
    width: 18px !important;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
  }
  .burger__line::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
  }
  .burger__line::after {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
  }
  .header__link {
    display: none;
  }
  .header__nav {
    position: absolute;
    transform: translateY(-1000px);
    transition: 300ms ease-in-out;
  }
  .header .logo__link {
    border: none;
    position: relative;
    left: -28px;
  }
  .header .logo__text {
    max-width: 50px;
    font-size: 1.3rem;
    letter-spacing: -0.3px;
  }
  .header .logo__text::before {
    height: 12px;
    width: 8px;
    background-size: cover;
    left: 5.5px;
    top: 14px;
  }
  .header__container {
    height: 33px;
  }
  .nav-open .header__logo {
    z-index: 103;
    position: relative;
    left: 9px;
    top: 15px;
  }
  .nav-open .logo__link {
    border: 1.18841px solid #fe9013;
    width: 65px;
    height: 42px;
  }
  .nav-open .logo__text {
    color: #fe9013;
    font-size: 1.55rem;
    left: -3px;
  }
  .nav-open .logo__text::before {
    background-image: url("../../assets/icons/logo_o.svg");
    height: 17px;
    width: 10px;
    left: 3.5px;
    top: 17px;
  }
  .nav-open .header__link {
    display: inline-block;
    color: #333b41;
    position: absolute;
    z-index: 103;
    left: 11px;
    top: 267px;
    font-weight: 400;
  }
  .nav-open .burger {
    z-index: 103;
    top: 10px;
  }
  .nav-open .burger__line {
    background-color: #000;
    transform: rotate(45deg);
    transition: 200ms ease-in-out;
  }
  .nav-open .burger__line::before {
    background-color: #000;
    transform: rotate(90deg);
    transition: 200ms ease-in-out;
  }
  .nav-open .burger__line::after {
    display: none;
  }
  .nav-open .header__overlay {
    transform: scale(1);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.898);
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .nav-open .header__nav {
    transform: translateX(0);
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #000;
    height: 330px;
    z-index: 102;
  }
  .nav-open .header__nav .nav__item {
    margin-bottom: 15px;
  }
  .nav-open .header__nav .nav__item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
  }
  .nav-open .header__nav .nav__list {
    flex-direction: column;
    position: relative;
    top: 82px;
    left: 11px;
    width: 80%;
  }
}
@media (max-width: 639px) {
  .header__logo {
    position: relative;
    left: -10px;
  }
  .burger {
    position: relative;
    right: -20px;
    top: -2px;
  }
}/*# sourceMappingURL=header.css.map */